.home {
    position: relative;
    background-attachment: fixed;
}

.home .cards {
    display: inline-flex;
}

.home .cards .posts {
    width: 800px;
    height: 600px;
    background-color: var(--color-primary-light);
    margin: 20px auto auto 40px;
    padding: 0;
}


.home .cards .posts h1 {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 18px;
}

.home .cards .posts .notices {
    display: flex;
}

.home .cards .posts .notices .art img {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 35px auto auto 20px;
    border-radius: 15px;
}
.home .cards .posts .notices .art img:hover {
    width: 310px;
    height: 310px;
    transition-duration: var(--transition);
}

.home .cards .posts .notices .title {
    margin: 0 auto;
    padding: 30px 0 5px 20px;
    text-transform: uppercase;
}

.home .cards .posts .notices .title:hover {
    color: var(--color-primary);
    transition-duration: var(--transition);
}

.home .cards .posts .notices .text {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.home .cards .lateral {
    width: 350px;
    height: 400px;
    background-color: var(--color-primary-light);
    margin: 20px 40px auto 70px;
}

.home .cards .lateral h2 {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 18px;
}

.home .cards .lateral .instagram-media {
    max-height: 600px;
}