:root {
    --color-primary: white;
    --color-secondary: rgb(37, 81, 225);
    --color-thirdy: rgb(246, 216, 46);
    --color-primary-dark: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;                 
}

.home {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
}

.header {
    padding: 30px 0;
    background-color: var(--color-secondary);
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;   
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-thirdy);
    color: var(--color-primary);
}
.home .header h1 {
    margin: 0 400px 0 0;
    border-bottom: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 20px; 
}

