:root {
    --color-white: white;
    --color-primary: rgb(15, 194, 232);
    --color-secondary: rgb(1, 148, 191);
    --color-tertiary: rgb(226, 212, 150);
    --color-primary-light: rgb(233, 243, 245);
    --font-coding: 'Fira Code', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;                 
}

/* 

            HOME 

*/

.home {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
}

/* 

            HEADER 

*/

.header {
    padding: 0 auto;
    background-color: var(--color-secondary);
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;   
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);
}
.home .header h1 {
    margin: 0 400px 0 0;
    border-bottom: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 20px; 
}

.home .header h1:hover {
    color: var(--color-primary)
}

/* 

            POSTS 

*/

.home .cards {
    display: inline-flex;
}

.home .cards .posts {
    width: 800px;
    height: 600px;
    background-color: var(--color-primary-light);
    margin: 20px auto auto 40px;
    padding: 0;
}


.home .cards .posts h1 {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 18px;
}

.home .cards .posts .notices {
    display: flex;
}

.home .cards .posts .notices .art img {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 35px auto auto 20px;
    border-radius: 15px;
}
.home .cards .posts .notices .art img:hover {
    width: 310px;
    height: 310px;
}

.home .cards .posts .notices .title {
    margin: 0 auto;
    padding: 30px 0 5px 20px;
    text-transform: uppercase;
}

.home .cards .posts .notices .title:hover {
    color: var(--color-primary);
}

.home .cards .posts .notices .text {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.home .cards .lateral {
    width: 350px;
    height: 600px;
    background-color: var(--color-primary-light);
    margin: 20px 40px auto 70px;
}

.home .cards .lateral h2 {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 18px;
}